.table > tbody > tr > td.square {
  border:1px dashed silver;
  height:60px;
  width:60px;
  text-align:center;
  font-size: 40px;
}

.square:hover {
  background-color: #EFEFEF;
  cursor: pointer;
}
